@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #f9f4ed;
  color: #3f2a1f;
}

.font-serif {
  font-family: "Playfair Display", serif;
}
